.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

body {
  background: linear-gradient(60deg, #e6876b, #e96698, #6dbedb, #66ddc1);
  background-size: 1000% 1000%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}
